{
  "client": {
    "server": "irc.efnet.nl",
    "nick": "Nickname",
    "channels": [
      "#bot-test-channel"
    ]
  },
  "plugins": [
    "logger",
    "sl",
    "url-grabber",
    "rksmrgs"
  ]
}
